span{
    font-size: 1.9rem;
}


/*!* CART INFORMATION *!*/
.cart__content-empty{
    width: 200px;
    margin: 0 45%;
}
.cart__details {
    display: flex;
    width: 100%;
    margin: 0px auto 20px;
    flex-wrap: wrap;
    padding-top: 100px;
}
.cart__return {
    background-color: #293241;
    width: 100%;
    margin-bottom: 15px;
}

.cart__return__content {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    /* margin-left: auto; */
}

.cart__return .breadcrumb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.cart__return a.breadcrumb__item {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-left: 20px;

}

.cart__return .icon .icon__next {
    margin-left: 5.5px;
    margin-right: 8.5px;
    color: #fff;
    font-size: 10px;
    margin-top: 2px;
}
.cart__return__content .breadcrumb .icon .icon__next i {
    color: white;
}

.cart__return a.breadcrumb__item:last-child {
    color: #fff;
    cursor: default;
    overflow: hidden;
}

.cart__return a.breadcrumb__item:last-child span {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;

}

.cart__return__content a.br1:hover {
    color: #ee6c4d;
}


.cart__content {
    width: 80%;
    margin: 0 auto;
    display: block;

}

.left__content{
    display: flex;
}
.cart__tbody{
    width: 100%;
    float: left;
}
.cart__item{
    background-color: transparent;
    padding: 15px 0;
    margin: 0;
    display: inline-flex;
    width: 100%;
}
.cart__item--img{
    padding-right: 10px;
    position: relative;
    min-height: 1px;
    width: 25%;
    padding-left: 0;
 }
.cart__item--img .img{
    margin: 0;
}
.cart__item--img .img img{
    max-height: 180px;
    display: block;
    max-width: 100%;
    height: auto;
}
.cart__item--detail{
    width: 75%;
    padding-left: 0;
    display: flex;
    align-items: center;
    height: 180px;
    padding-right: 10px;
    position: relative;
    min-height: 1px;
}
.item--info-product{
    width: 350px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}
.item--info-product p{
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 20px;
    font-weight: 500;
    padding-top: 0;
}
.item--info-product p a{
    color: #0657a3;
}
.action{
    position: relative;
    padding: 0 !important;
    margin-bottom: 0;
    margin-top: 0;
}
.action a{
    border: 0;
    color: #916841;
    font-size: 13px;
    position: static;
    padding: 0;
}
.btn{
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border-radius: 0;
    letter-spacing: 0;
    -webkit-transition: background-color 0.1s ease-in;
    -moz-transition: background-color 0.1s ease-in;
    -ms-transition: background-color 0.1s ease-in;
    -o-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
    -webkit-border-radius: 0;
}
.box-price{
    float: left;
    width: 110px;
    padding-right: 10px;
}
.box-price .price{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    padding-top: 0;
    color: #916841;
}
.quantity-block{
    width: 120px;
    float: right;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}
input {
    display: inline-block;
    width: auto;
}
.increase_pop{
    border-radius: 0 3px 3px 0;
    border: 1px solid #e5e5e5;
    border-left: 0;
    color: #999;
    line-height: 20px;
    padding: 3px 9px;
    margin: 0;
    width: 28px;
    background-color: #fff;
    float: right;
    height: 28px;
    z-index: 2;
}
.js-quantity-product {
    display: inline-block;
    height: 28px;
    padding: 0 5px;
    text-align: center;
    border-radius: 0;
    width: 35px;
    float: right;
    min-height: 28px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    position: relative;
    z-index: 2;
    opacity: 1;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    max-width: 100%;
    color: #1c1c1c;
    margin: 0 0 19px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
}
.reduced_pop{
    border-radius: 3px 0 0 3px;
    border: 1px solid #e5e5e5;
    border-right: 0;
    color: #999;
    line-height: 20px;
    padding: 3px 9px;
    margin: 0;
    width: 28px;
    background-color: #fff;
    float: right;
    height: 28px;
    z-index: 2;
    position: relative;
}
.cart__sidebar{
    display: inline-block;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    min-height: 1px;
}
.box-style{
    background-color: transparent;
    padding: 17px 0 21px 0;
}
.each-row .box-style.fee .list-info-price {
    margin: 0;
}
#right-affix .each-row .box-style.fee .list-info-price span {
    font-weight: 500;
    color: #1c1c1c;
}
#right-affix .each-row .box-style.fee .list-info-price strong {
    float: right;
    font-weight: 700;
}
#right-affix .each-row .box-style+.box-style {
    border-top: 1px solid #f4f4f4;
}
.each-row .box-style.fee .total2 {
    font-weight: 500;
}
#right-affix .each-row .box-style.fee .total2 .text-label {
    margin-top: 5px;
    display: inline-block;
}
#right-affix .each-row .box-style.fee .total2 .amount {
    float: right;
}
#right-affix .each-row .box-style.fee .total2 .amount p {
    margin: 0;
    text-align: right;
    line-height: 1.1;
}
#right-affix .each-row .box-style.fee .total2 .amount p strong {
    color: #916841;
    font-size: 22px;
    font-weight: 700;
}
.btn-checkout {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0;
    user-select: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    position: relative;
    display: inline-block;
    border: 1px solid #1c1c1c;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-style: normal;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
    color: #fff;
}
#right-affix .btn-checkouts {
    margin-top: 10px;
    padding: 0 15px;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 48px;
    user-select: none;
    color: #1c1c1c;
    background-color: #fff;
    border-color: #1c1c1c;
    border-radius: 0;
    height: 50px;
    text-transform: uppercase;
}



