:root {
    --main-color : #ee6c4d;
    --sub-main-color: #293241;
}

table, td, th {
    text-align: center;
    border: 1px solid #ccc;
}

tr {
    line-height: 1.6;
}

td, th{
    padding: 12px;
    text-align: center;
}

th {
    color: #fff;
    background: var(--sub-main-color);
}

.s-cl {
    min-width: 70px;
}

.m-cl {
    min-width: 120px;
}

.l-cl {
    min-width: 200px;
}

.container {
    margin-top: 1px;
    display: flex;
    min-height: 100vh;
}

.link {
    color: var(--sub-main-color);
}

button {
    color: #fff;
}