
:root {
    --orange-color: #ee6c4d; /* main color*/
    --blue-color: #293241;
}

.text-danger {
    color: red;
    max-width: 210px;
    margin: 0 auto;
    line-height: 1.5;
}

.text-danger {
    color: red;
    max-width: 210px;
    margin: 0 auto;
    line-height: 1.5;
}

.form-wrapper .back-cta {
    float: left;
    font-size: 1.2rem;
    color: var(--blue-color);
}

.form-grp.invalid input {
    border-bottom: 1px solid red;
}

.errorMessage {
    line-height: 1.5;
    color: red;
    font-size: 1.4rem;
}

.failedAttempts {
    color: red;
    font-size: 2rem;
    font-weight: 500;
}

.failedAttempts-grp {
    margin-top: 20px;
    text-align: center;
}
/* ========== Form ========== */

.content {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1519892300165-cb5542fb47c7?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1770);
    object-fit: cover;
}

.form-wrapper {
    text-align: center;
    min-width: 500px;
    padding: 24px 32px;
    margin: 0 auto;
    border-radius: 12px;
    background: #fff;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form .title {
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 24px 0 12px;
}

.form-grp {
    text-align: left;
    margin-bottom: 6px;
}

.form-grp .email__signup {
    font-weight: 600;
    font-size: 2rem;
}

.form-grp p {
    margin: 12px 0;
    font-size: 1.6rem;
}

.user-input,
.pw-input  {
    position: relative;
}

.ic {
    opacity: 0.6;
    font-size: 1.8rem;
    position: absolute;
    top: 12px;
    left: 4px;
}

.fa-eye {
    cursor: pointer;
    display: inline;
    left: auto;
    right: 0;
}

.form .forget-pw {
    margin-left: auto;
    margin-bottom: 12px;
}

.form .forget-pw:hover {
    opacity: 0.8;
}

.form .forget-pw span{
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--blue-color);
}

.form input {
    display: inline-block;
    width: 100%;
    padding: 12px 0 12px 28px;
    margin-bottom: 12px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--blue-color);
}

.form .submit{
    color: var(--blue-color);
    padding: 12px 0;
    background: transparent;
    border: 1px solid var(--blue-color);
    border-radius: 999px;
    margin-bottom: 12px;
    transition: all 0.2s ease;
}

.form .submit:hover {
    opacity: 0.9;
    color: #fff;
    background: var(--blue-color);
}

.login-fb-gg{
    margin-top: 12px;
}

.login-fb, .login-gg{
    margin: 0 6px
}
.login-fb:hover, .login-gg:hover{
    opacity: 0.8;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

.link {
    margin-top: 12px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--blue-color);
    background: transparent;
    border: none;
}

.link:hover {
    cursor: pointer;
    opacity: 0.8;
}