:root {
    --main-color : #ee6c4d;
    --sub-main-color: #293241;
}

.hidden {
    display: none;
}

.product-wrapper {
    padding: 80px 42px 0;
    display: flex;
    flex-direction: column;
}

.hot-product .product-img {
    position: relative;
    width: 50%;
    height: 360px;
    object-fit: cover;
}

.hot-product .cover {
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    width: 100%;
    height: 360px;
    background: linear-gradient(90deg, transparent 0%, var(--sub-main-color) 90%);
}

 .search-product {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 24px;
    top: 100px;
    left: 50%;
    width: 70%;
    height: 48px;
    background: #fff;
    border-radius: 999px;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
}

 .search-form {
     display: flex;
     width: 100%;
 }

.search-product input {
    font-size: 1.6rem;
    font-family: inherit;
    flex-grow: 1;
    padding: 12px 0;
    border: none;
}

 .search-ic {
    margin-left: 12px;
    font-size: 2.4rem;

}

.search-btn {
    border: none;
    background: transparent;
    padding: 0;
}

.search-btn:hover {
    color: #000;
    opacity: 0.8;
}

.product {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.product-directory {
    padding: 32px 24px 12px;
}

.product-list__wrapper {
    padding-top: 32px;
}


.product-side-bar {
    background: #fff;
    width: 20%;
    flex-shrink: 0;
}

.directory-title {
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #000;
    border-bottom: 2px solid var(--main-color);
}

.directory__item {
    margin-bottom: 12px;
}

.directory__gerne .gerne-link {
    display: inline-block;
    padding: 12px;
    width: 100%;
    font-size: 2rem;
    color: #000;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.directory__gerne .gerne-link:hover {
    color: #fff;
    background: var(--sub-main-color);
}

.product-list__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-list__wrapper {
    .box_products{
        width: 100%;
        float: left;
        margin-bottom: 110px;
    }
    
    .box_order{
        width: 100%;
        float: left;
        margin-bottom: 20px;
        background: #f2f3f7;
    }
    
    .box_order select{
        font-size: 13px;
            padding: 5px 8px;
    }
    .box_order > label{
        text-transform: uppercase;
        padding:11px 10px;
        font-size: 14px;
        font-weight: normal;
        float: left;
        margin: 0;
    }
    .box_order_item{
        float: left;
        margin-left: 20px;
        position: relative;
    }
    .box_order_item > label{
        padding:9px 0px;
        font-size: 15px;
        font-weight: normal;
        float: left;
        margin: 0;
    }
    
    .pull-right {
        float: right!important;
    }
    
    .sort_pricess{
        float: left;
        cursor: pointer;
    }
    .sort_feature{
        float: left;
        cursor: pointer;
        margin-top: 9px;
        color: black;
    }
    .sort_manufacturer{
        float: left;
        cursor: pointer;
    }
    
    
    .box_order_item > label.sort_order{
        padding-right: 20px;
        cursor: pointer;
    }
    .box_s{
        position: absolute;
        top: 35px;
        width: 500px;
        background: #fff;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        z-index: 9999;
    }
    .box_s.box_orderss{
        width: 150px;
        left: -32px;
    }
    .box_ss{
        width: 100%;
        float: left;
    }
    .box_ss ul{
        list-style: none;
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
    }
    .box_ss ul li{
        width: 50%;
        float: left;
        margin-bottom: 5px;
    }
    
    .box_s.box_orderss .box_ss ul li{
        width: 100%;
    }
    .box_ss label{
        font-size: 14px;
        font-weight: normal;
        float: left;
        margin: 0;  
        cursor: pointer;
        color: black;
    }
    .box_ss input{
        display: none;
    }
    .sort_pricess{
        float: left;
        cursor: pointer;
    }
    .sort_feature{
        float: left;
        cursor: pointer;
        color: black;
    }
    .sort_manufacturer{
        float: left;
        cursor: pointer;
    }
    
    #sort_manufacturer .box_ss ul li{
        width: 33.333333%;
    }
}

.list {
    padding-bottom: 12px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.list .item {
    width: 100%;
}

.list .item .item_content {
    background-color: var(--sub-main-color);
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(0,-50px);
    color: #fff;
    margin-top: 50px;
    min-height: 200px;
    padding: 20px;
}
.item_content form a .add {
    background-color: #ee6c4d;
    border: 1px solid #293241;
    border-radius: 7px;
    color: black;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .5s;
}

.list .item .img {
    background: var(--main-color);
    padding: 20px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list .item .img img {
    height: 300px;
    object-fit: cover;
}

.list .title {
    font-size: x-large;
    color: #fff;

}

.list .title a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list .desc {
    opacity: .7;
    margin: 10px 0;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.list .price {
    font-size: large;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.list .add {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    border: none;
}

.listPage {
    text-align: center;
    list-style: none;
    margin: 30px;
}
.listPage > li {
    background-color: #ffffffBD;
    padding: 20px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.listPage {
    background-color: black;
    color: white;
}